body {
    background-image: url(./Imagenes/shining-pink2.jpg);
    background-size: 100%;
}

#game-name h1 {
    font-family: Oleo Script, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: rgb(104, 104, 104)
}

#game-name h2 {
    font-family: Oleo Script, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(104, 104, 104);
}

#game-name img {
    height: 50px;
    width: 50px;
    filter: brightness(3);
}

#historia {
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px 260px 0px 260px;
    color: rgb(87, 87, 87);
}

#btn-historia {
    width: 400px;
    height: 30px;
    margin-left: 29%;
    background-color: whitesmoke;
    border: grey solid 3px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#imagenes {
    display: flex;
    justify-content: center;
}

.img-puchaina {
    width: 20%;
    height: 20%;
    border: greenyellow solid 7px;
    border-radius: 10px;
    margin: 10px;
}

#btn-game {
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 47%;
    background-color: rgb(255, 251, 31);
    border: rgb(105, 141, 32) solid 4px;
    border-radius: 10px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.473); /* Ejemplo de sombra */
}

#btn-game a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

